<div class="container-fluid">
    <div class="row">
        <app-filter (filter)="filterData($event)" (clear)="clear()"></app-filter>
    </div>
      <div class="table-div">
        <table class="table table-dark table-responsive table-striped table-bordered table-hover table-shadow">
          <thead>
            <tr>
                <th></th>
              <th *ngFor="let column of scs.ShoppingCartColumns" scope="col">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of filteredData; let i = index" >
                <td class="addToCart"><i class="bi bi-trash" (click)="deleteFromCart(i)"></i></td>
              <td *ngFor="let column of columns">{{row[column]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>