.btn {
    margin: 5px;
}

form {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    margin-right: 10px;
}

input {
    margin: 5px;
}

table {
    width: 90%;
}

.table-div {
    display: flex;
    justify-content: center;
}
.addToCart{
    cursor: pointer;
    text-align: center;
}
i.bi-trash:hover{
    color: red;
}