.btn {
    margin: 5px;
}

.addProduct{
    float:right
}
.table-div {
    display: flex;
    justify-content: center;
}
.addToCart{
    cursor: pointer;
    text-align: center;
}
i.bi-bag-plus-fill:hover{
    color: green;
}
.addProduct{
    width: fit-content;
}